@{
    ViewBag.Title = "Xác nhân đơn hàng";
}

<h3>Đơn hàng của quý khách đã được chúng tôi ghi nhận</h3><br />
<h3>Chúng tôi sẽ liên hệ với quý khách trong thời gian sớm hất và giao hàng đúng hẹn</h3><br />
<h3>@Html.ActionLink("Về Trang Chủ","Index","Home")</h3>
